/* ----------------------------------- DIFFERENT SCREEN SIZES ----------------------------------- */

@media screen and (max-width: 1400px)
{
    .ImageGridColumnThree
    {
        flex: 50%;
        max-width: 50%;
    }

    .ImageGridColumnFour
    {
        flex: 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 1200px)
{
    .ProjectParagraphPrimary
    {
        width: 86%;
    }
    
    .ProjectParagraphPrimaryCentered
    {
        width: 86%;
    }

    .ProjectParagraphSecondary
    {
        width: 86%;
    }

    .ProjectGifImage
    {
        width: 86%;
    }

    .ProjectGifImageWide
    {
        width: 100%;
    }

    .ImageGridColumn
    {
        width: 88%;
    }

    .ImageGridRowFour img
    {
        flex: 50%;
        max-width: 50%;
    }
}

@media only screen and (max-width: 992px)
{
    .ProjectParagraphPrimary
    {
        width: 90%;
    }
    
    .ProjectParagraphPrimaryCentered
    {
        width: 90%;
    }

    .ProjectParagraphSecondary
    {
        width: 90%;
    }

    .ProjectGifImage
    {
        width: 90%;
    }

    .ProjectGifImageWide
    {
        width: 100%;
    }

    .ImageGridColumn
    {
        width: 90%;
    }

    .ImageGridRowThree img
    {
        flex: 50%;
        max-width: 50%;
    }

    .ImageGridRowFour img
    {
        flex: 50%;
        max-width: 50%;
    }

    .ImageGalleryList
    {
        gap: 12px;
        padding: 10px 20px;
    }
}

@media only screen and (max-width: 768px)
{
    .ProjectParagraphPrimary
    {
        width: 90%;
    }
    
    .ProjectParagraphPrimaryCentered
    {
        width: 90%;
    }

    .ProjectParagraphSecondary
    {
        width: 90%;
    }

    .ProjectPageItchIOEmbed
    {
        width: 202px;
    }

    .ProjectGifImage
    {
        width: 100%;
    }

    .ProjectGifImageWide
    {
        width: 100%;
    }

    .ImageGridColumn
    {
        width: 100%;
    }

    .ImageGridRowTwo img
    {
        flex: 100%;
        max-width: 100%;
    }

    .ImageGridRowThree img
    {
        flex: 100%;
        max-width: 90%;
    }

    .ImageGridRowFour img
    {
        flex: 50%;
        max-width: 90%;
    }

    .ImageGalleryList
    {
        gap: 12px;
        padding: 10px 20px;
    }

    .MastheadImage
    {
        display: none;
    }
}

@media only screen and (max-width: 600px)
{
    .ProjectParagraphPrimary
    {
        width: 90%;
    }
    
    .ProjectParagraphPrimaryCentered
    {
        width: 90%;
    }

    .ProjectParagraphSecondary
    {
        width: 90%;
    }

    .ProjectPageItchIOEmbed
    {
        width: 202px;
    }

    .ProjectGifImage
    {
        width: 100%;
    }

    .ProjectGifImageWide
    {
        width: 100%;
    }

    .ImageGridRow
    {
        padding: 24px 0px;
    }

    .ImageGridColumnTwo
    {
        flex: 100%;
        max-width: 100%;
    }

    .ImageGridColumnThree
    {
        flex: 100%;
        max-width: 100%;
    }

    .ImageGridColumnFour
    {
        flex: 100%;
        max-width: 100%;
    }

    .ImageGalleryList
    {
        gap: 8px;
        padding: 8px;
    }

    .ImageGalleryListItem
    {
        width: 100%;
        height: auto;
    }

    .ImageGalleryListItem img
    {
        min-width: 0;
        width: 100%;
    }
    
    .MastheadImage
    {
        display: none;
    }
}